html {
  //------------------------------------------------------------
  // = GENERAL
  //------------------------------------------------------------
  --font:       'Montserrat', sans-serif;
  --black:      900;
  --bold:       700;
  --semi-bold:  600;
  --medium:     500;
  --regular:    400;

  --transition: all .15s ease;
  --radius:     4px;


  //------------------------------------------------------------
  // = SIZE
  //------------------------------------------------------------


  //------------------------------------------------------------
  // = COLOR
  //------------------------------------------------------------
  --color-bg:         #FBFBFB;

  --color-primary:    #E9002D;

  --color-paragraph:  #090b10;

  --color-highlight:  #FFE500;
  --color-success:    #36B37E;
  --color-alert:      #FF5630;

  --color-white:      #FFFFFF;
  --color-black:      #090b10;

}

//------------------------------------------------------------
// = SCSS
//------------------------------------------------------------
$layout:              "../images/layout/";